.div {
    display: block;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 0;
    padding: 50px 10% 50px 10%;
    width: 100%;
    height: 100vh;
}

.searchBox {
    display: flex;
    flex-wrap: wrap;
    top: 50vh;
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 8px;
}

.searchBox-input {
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.searchBox-item {
    flex-wrap: wrap;
    display: flex;
    margin: 5px auto 5px auto;
}

.searchBox-text {
    min-width: 200px;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.searchBox-input-plz {
    max-width: 150px;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #c4d7e7 none;
}

.searchBox-select {
    background: #c4d7e7;
    overflow: hidden;
    border-radius: .25em;
}


.searchBox-button {
    display: block;
    width: 150px;
    min-width: 130px;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: normal;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
}

.searchBox-button:hover {
    text-decoration: none;
    color: grey;
}

.searchBox-button-text {
    text-align: center;
    border-radius: 50px;
    padding: 13px;
    color: black;
    background: #c4d7e7;
    transition: all 0.2s ease-out 0s;
}

.searchBox-button-gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(50px circle at top center, rgba(100, 100, 255, .5) 30%, rgba(255, 255, 255, 0));
    transition: all 0s ease-out 0s;
    transform: translatex(-50px);
    animation: 18s linear 0s infinite searchBox-button-gradient-move;
}

@keyframes searchBox-button-gradient-move {
    0% {
        transform: translatex(0px);
    }
    25% {
        transform: translatex(100px);
        opacity: 0.3;
    }
    50% {
        transform: translatex(100px);
        opacity: 0.3;
        background: radial-gradient(50px circle at center, rgba(50, 50, 50, .5) 30%, rgba(255, 255, 255, 0));
    }
    75% {
        transform: translatex(-100px);
        opacity: 0.3;
    }
    100% {
        opacity: 0.3;
        transform: translatex(-100px);
        background: radial-gradient(50px circle at center, rgba(100, 100, 255, .5) 30%, rgba(255, 255, 255, 0));
    }
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.contact-col {
    float: left;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    width: 200px;
}

.contact-li {
    padding-bottom: 1rem !important;
}

.footer {
    display: block;
    position: relative;
    font-size: 16px;
    padding: 7em 0;
    background: #222831;
    color: rgba(255, 255, 255, 0.7);
    grid-area: footer;
    align-content: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.grid-farbe {
    padding: 10px;
    background-color: #c4d7e7;
}

.text {
    color: #fff;
    text-decoration: none;
}

.footer-col {
    float: left;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    width: 200px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.footer-li {
    padding-bottom: 1rem !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-h2 {
    font-family: inherit;
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
}

.footer-link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.grid-container-index {
    display: grid;
    grid-template-columns: 600px 400px 600px;
    padding: 10px;
    margin-left: 0;
    background-color: #c4d7e7;
}

.headerrahmen {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.button-header {
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-container-index > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px
}

.images {
    width: 300px;
    height: 300px;
}

.kefedologo {
    max-width: 40%;
    min-width: 200px;
    height: auto;
}

.grid-item7 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.button-anmelden {
    border-radius: 8px;
    background-color: #A2B3F8;
}

.button-anmelden:hover {
    background-color: #7F7F7F;
    color: white;
}

/* Navi Leiste*/
.navileiste {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #c4d7e7;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7f7f7f;
    /* position: fixed;
    */
    /*möglichkeit die leiste fix immer im Bild zu haben */
    /* top:20;
     width: 100%;
    */
}

.navibutton {
    float: left;
}

@media screen and (max-width: 600px) {
    .navibutton {
        width: 100%;
    }
}

.naviobjekt {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navibutton :last-child {
    border-right: none;
}

.naviobjekt:hover {
    background-color: #222831;
    text-decoration: none;
    color: #A2B3F8;
}

.active {
    background-color: #222831;
}
