
.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #989898;
  /*  position: fixed;*/  /*möglichkeit die leiste fix immer im Bild zu haben */
  /*  top:20;
    width: 100%;*/

}

.navibutton{
    float: left;
}

.test {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}
.navibutton :last-child {
    border-right: none;}
.test:hover {
    background-color: #222831;
}
.active {
    background-color: #222831;
}
