


<<<<<<< HEAD:website_root/header.css

.button{background-color: #ABB9FA;

padding:10px 130px}
.buttonanmelden{background-color: #ABB9FA;

padding:10px 10px}
=======
.button{color: green;
font-size: 30px;}
h1{color:green;}
div#button{ float:right;}
div#button2{ float:right;}
nav{
color:green;
>>>>>>> 56295acd96719fd9f4f8d8ce84f0e6b4bce9beb5:website_root/styles/header.css

}


div#button{ float:right;}
div#button2{ float:right;}
